@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #c8c8c8;
}

.container-grid {
    width: 100vw;
    max-width: 1280px;

    margin: auto;
}

.banner {
    height: 100%;

    background: linear-gradient(184deg, rgba(94, 89, 85, 0.9) 0%, rgba(94, 89, 85, 0.8) 100%), url(img/Fenix\ .png);
    background-repeat: no-repeat;

    background-position: 55% 60%;
}

header {
    height: 250px;
}

header img {
    width: 300px;
    margin: 20px;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;

    margin: 42px;

}

.menu a {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: bold;

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

}

.menu a:hover {
    text-decoration-color: #f27405;
    color: #f27405;

}

.conteudo-banner {
    height: calc(120vh - 280px);
}

.conteudo-banner h1 {

    color: white;

    font-family: "Montserrat";
    font-size: 40px;

    display: block;
    justify-content: flex-start;
}

.conteudo-banner p {
    margin-top: 70px;

    display: flex;
    align-items: center;

    color: white;

    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500S;
}

#sobre {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 100px;
}


#sobre #banner1 {
    display: block;
    justify-content: flex-start;

    float: left;

    margin-right: 20px;

    width: 400px;
}

#sobre #banner2 {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 500px;
}

.text1 {
    display: flex;
    justify-content: space-around;
}

.sobre1 {
    display: flex;
    flex-direction: column;

}

#image {
    display: flex;
    justify-content: left;
}

#sobre h1 {
    display: flex;
    align-items: center;


    font-family: "Montserrat";
    font-size: 26px;

    margin: 13px;
}

#sobre p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;


    color: black;

    margin: 15px;
}

#portifolio {
    height: 150px;
    width: 100%;

    background: linear-gradient(184deg, rgba(94, 89, 85, 0.9) 0%, rgba(94, 89, 85, 0.8) 100%), url(img/thumb-1920-410661\ 1.png);
    background-size: auto;

    position: relative;

}

.filter {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

}

#cases {
    text-align: center;

    padding: 100px;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}

#cases h2 {
    margin-bottom: 100px;
    margin-top: 160px;
    margin: 130px;

    font-family: "montserrat";
    font-size: 35px;

    display: flex;
}

.card {
    height: 500px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

    background-color: #d9d9d9;

    border-radius: 25px;
}

.card img {
    height: 55%;
    width: 100%;

    border-radius: 4px 4px 0px 0px;
}

.card p {
    color: black;

    font-family: "Montserrat";
    font-size: 20px;

    text-align: left;

    padding: 15%;
}

#contato {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2 {
    margin-bottom: 70px;
}

#contato form{
    width: 50%;

    margin: 0 auto;
    padding: 60px 0;
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ccb400;
}
